## Eseguibili e file compilati
*.o
*.out
*.elf
*.exe
*.app
*.a
*.so
*.dylib
*.dll

## File oggetti e intermedi
*.obj
*.ko
*.d
*.su

## File di debug
*.dSYM/
*.idb
*.pdb

## Linker output
*.ilk
*.map
*.exp

## Precompiled headers
*.gch
*.pch

## Librerie
*.lib
*.la
*.lo

## Hex files
*.hex
*.i*86
*.x86_64

## ARM Assembly
*.arm

## SystemVerilog / Verilator
obj_dir/
sim_top
sim_*
*.vcd

## Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

## IDE e editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
